.wrapper {
  max-width: 693px;
  margin: 0 auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  ul,
  span,
  a {
    font-family: var(--blog-font, var(--serif-font)) !important;
  }

  p,
  li,
  ul,
  a {
    font-size: var(--blog-font-size, 16px) !important;
    line-height: var(--blog-line-height, 28px) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-body);
  }

  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code,
  h6 > code,
  li > code,
  p > code {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.85);
    padding: 2px 6px;
  }

  h2 > code {
    font-size: 28px;
  }
  li > code,
  p > code {
    font-size: 16px;
  }

  p > a {
    font-weight: bold;
    text-decoration: underline;
  }

  &.dark {
    h1 > code,
    h2 > code,
    h3 > code,
    h4 > code,
    h5 > code,
    h6 > code,
    p > code {
      background-color: #fd61d927;
      color: #fd61d9;
    }
  }
}
