.body {
  font-family: var(--base-font);
  font-weight: 500;
  font-size: 14px;
  color: var(--text-body);
  line-height: 145.1%;
  margin: 8px 0;
}

.card-title {
  font-family: var(--base-font);
  font-weight: 700;
  font-size: 20px;
  color: var(--text-headings);
  margin: 12px 0;
}
.card-image {
  margin: 0;
  width: 100%;
  transition: transform 0.3s;
}

.card-image:hover + .card-button {
  transform: scale(1.5);
}

.card-button {
  position: relative;
  padding: 2px;
  font-family: var(--base-font);
  font-weight: 700;
  font-size: 16px;
  color: var(--text-headings);
  margin: 16px 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.card-button::after {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-headings);
  opacity: 0;
  content: "";
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-3px);
}

.card-button:focus.card-button::after {
  height: 2px;
  opacity: 1;
  transform: translateY(0);
}

.card-button.not-available {
  cursor: default;
  pointer-events: none;
}

.card-button:hover + .card-image {
  transform: scale(1.5);
}
