.container {
  border: 0.25px solid var(--border-card);
  padding: 8px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  word-break: break-word;
  height: fit-content;
}
.container:hover {
  box-shadow: 6px 6px var(--shadow-ava);
  transform: translateX(-3px) translateY(-3px);

  & > .message {
    -webkit-line-clamp: 99;
  }
}
.container > div {
  display: flex;
}
.sender {
  font-weight: bold;
  color: var(--text-headings);

  &.anonim {
    font-style: italic;
  }
}
.message {
  margin-bottom: 8px;
  color: var(--text-headings);
  flex: 1;
  -webkit-box-orient: vertical;
  margin: 0;
}
.date {
  font-size: 11px;
  align-self: end;
}
