.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 1.0875rem;
  min-height: 100vh;

  @media only screen and (max-width: 720px) {
    padding: 32px 1.0875rem;
  }
}

.headingContainer {
  text-align: center;
  margin-bottom: 48px;
  padding: 0 1rem;

  @media only screen and (max-width: 720px) {
    margin-bottom: 32px;
  }
}

.galleryContainer {
  position: relative;
}