.sosmed {
  margin: 128px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectContainer {
  display: flex;
  gap: min(4vw, 48px);
  flex-direction: row;
}

.projectContainer.first {
  padding-right: min(calc(15vw - 80px), 15%);
}

.projectContainer.last {
  padding-left: min(calc(15vw - 80px), 15%);
}

@media only screen and (max-width: 475px) {
  .projectContainer {
    flex-direction: column;
  }
}

.highlight {
  background-color: var(--bg-highlight);
  color: var(--text-highlight);
  padding: 2px;
}

.spline-geo-1 {
  position: absolute;
  bottom: -50px;
  right: -200px;
}
