.root {
  background: none;
  border: none;
  padding: 0;
  outline: inherit;
  vertical-align: middle;
  display: flex;
  align-items: center;
  cursor: pointer;

  > img {
    margin: 0;
  }

  :hover {
    cursor: pointer;

    > img {
      color: black;
    }
  }

  &.primary {
    background-color: var(--bg-button);
    color: var(--text-button);
    padding: 8px 12px;
  }
}
