.container {
  z-index: 999;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vh 1.0875rem;
  transition: background-color 0.5s;

  &-shadow {
    box-shadow: 0px 2px 4px rgb(151 151 151 / 70%);
  }
}

.menu-button {
  background-color: transparent;
  z-index: 99999;

  & .menu-icon {
    filter: var(--filter);
  }
}

.header {
  width: 100%;
  max-width: 960px;
  display: flex;
  line-height: 40px;
  justify-content: space-between;

  &-mobile {
    @extend .header;
  }
}

.logo {
  display: inline-block;
  vertical-align: middle;
  color: black;
  text-decoration: none;
  margin: 0;
  filter: var(--filter);
  transition: filter 0.5s;
  line-height: 0;
}

.logo:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  gap: min(20px, max(calc(10vw - 120px), 16px));
}
