.card-container {
  border-radius: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-headings);
  font-family: var(--base-font);
  line-height: 31px;
}

.card-image {
  margin: 0;
  width: 100%;
  transition: transform 0.3s;
}

.card-container:hover > .card-image {
  transform: scale(1.05);
}
