.card-container {
  border-radius: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.body {
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 14px;
  color: var(--text-body);
  line-height: 145.1%;
}

.card-title {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 20px;
  color: var(--text-headings);
}

.card-image {
  margin: 0;
  width: 100%;
  transition: transform 0.3s;
}

.card-container:hover > .card-image {
  transform: scale(1.05);
}
