.container {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  color: var(--text-body);
}

/* Hide the browser's default checkbox */
.container .input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 0.25px solid var(--border-card);
  transition: all 0.15s;
}

/* On mouse-over, add a grey background color */
.container:hover .input ~ .checkmark {
  background-color: var(--hover-checkbox);
}

/* When the checkbox is checked, add a blue background */
.container .input:checked ~ .checkmark {
  background-color: var(--bg-button);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container .input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 0px;
  width: 3px;
  height: 10px;
  border: solid var(--text-button);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
